h1{
  text-align: center;
}
.plantes{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.violette{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sapin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rose{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  width: 25%;
}
.tableau{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
